<div class="container" style="padding: 0px">
	<h1>About</h1>
	<p>
		This is a final project for the course CIS196 Ruby on Rails Web Development at the University of Pennsylvania
	</p>
	<p>
		The goal of this project is to create a sales web application that include the following main features:
	</p>
	<ol>
		<li>Admin privilege for modifying dynamic inventory/products using an online form interface</li>
		<li>Shopping cart that holds multiple products and calculates total price</li>
		<li>Appealing user interface with attractive aesthetics and smooth work flows between pages.</li>
	</ol>
</div>