<div style="height: 450px; background: center center no-repeat url('assets/cylinder.png'); background-size: cover; position: relative">
	
	<div style="position: absolute; top: 15%; left: 5%">
		<h1 style="color: #eee; font-weight: normal">Pneumatic Cynlinder</h1>
		</ br>
		<p style="color: #eee; font-size: 13pt">
			The new muscles in town
		</p>
	</div>
</div>

<div class="row" style="background-color: #111">
	<div class="row" style="width: 90%; margin-top:30px; margin-bottom:30px">
		<div class="four columns">
			This website sells everything.
		</div>
		<div class="four columns">
			You can navigate and browse through out product and add them to your own cart on this site.
		</div>
		<div class="four columns">
			Enjoy your stay! be sure to sign up for a new account before you leave.
		</div>
	</div>
</div>