

<div style="height: 394px; background: center center no-repeat url('assets/cylinder.png'); background-size: cover">
</div>

<div class="row" style="margin-top:30px">
	<div class="four columns">
		This company is about place holder blah
	</div>
	<div class="four columns">
		We sell products that you can navigate and browse on this site
	</div>
	<div class="four columns">
		Enjoy your stay!! placeholder blah blah placeholder placeholder blah blah placeholder
	</div>
</div>