<h2>Your Cart</h2>
<% if !current_user.cart %>
	<% current_user.cart = Cart.create(:user_id => current_user.id) %>
<% end %>

<% total = 0 %>
<table>
	<% current_user.cart.orders.each do |order| %>
		<% total += order.product.price %>
		<tr>
			<td><%= order.product.name %></td>
			<td><%= link_to 'Remove', remove_from_cart_order_path(order) %></td>
		</tr>
	<% end %>
</table>

<h4>Your total will be: $ <%= total %></h4>