<h2>Your Cart</h2>
<% if !current_user.cart %>
	<% current_user.cart = Cart.create(:user_id => current_user.id) %>
<% end %>

<h3>Products</h3>
	<table>
		<% current_user.cart.orders.each do |order| %>
			<tr>
				<th><%= order.product.name %></th>
				<th></th>
			</tr>
		<% end %>
	</table>